.footer__copyright {
    font-size: 18px;
    line-height: 1.21;
    font-weight: normal;
    color: #545454;
    margin: 0;
}

@media (max-width: 775px) {
    .footer__copyright {
        font-size: 14px;
    }

}