.profile {
    display: grid;
    grid-template-columns: 150px auto 150px;
    margin: 0 0 50px;
    align-items: center;

}

@media (max-width: 1054px) {

    .profile {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 480px) {

    .profile {
        margin: 0 0 36px;
    }

}